<!DOCTYPE html>
<!--/* Define thymeleaf namespaces */-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <!--/* replace head with the one in layout.html */-->
    <head th:replace="layout :: head('Checkout - Step 1')"></head>
    <body>
    <!--/* replace header with the one in layout */-->
    <header th:replace="layout :: header('Checkout - Step 1')"></header>
        <section class="checkout">
            <h1><span>Checkout&nbsp;&nbsp;>&nbsp;&nbsp;</span>Verify Items</h1>
            <div th:each="productPurchase,iterStat : ${purchase.productPurchases}" class="cart-item">
	            <div class="item">
	                <a th:href="@{/detail/{productId}(productId=${productPurchase.product.id})}"><img class="img-thumb" th:src="@{/product/{productId}/image(productId=${productPurchase.product.id})}"/></a>
	                <h2><a th:href="@{/detail/{productId}(productId=${productPurchase.product.id})}" th:text="${productPurchase.product.name}">Product Title</a></h2>
	                <span class="price" th:text="${'$' + #numbers.formatDecimal(productPurchase.product.price, 1, 2, 'POINT')}">$199.00</span>
	                <span th:inline="text" class="item-quantity">Quantity: [[${productPurchase.quantity}]]</span>
	            </div>
            </div>
            <!--/* div with coupon code: Bug fix #1 */-->
            <div class="coupon-code" >
                <!--/* for to submit coupon code: here "id" is used with which
                       later JavaScript finds which form was submitted
                */-->
                <form id="couponForm"
                      action="#"
                      th:action="@{/checkout/coupon}"
                      th:object="${couponCode}"
                      method="post">
                    <!--/* following div will have "error" class if user input
                           wrong coupon code
                    */-->
                    <div th:classappend="${#fields.hasErrors('code')}? 'error' : ''">
                        <!--/* Error message why code is wrong */-->
                        <p th:errors="*{code}">
                            Error
                        </p>
                        <input type="text"
                               th:field="*{code}"
                               placeholder="Enter coupon code"/>
                    </div>
                </form>
            </div>
            <div class="subtotal">
                Subtotal: <strong><span th:text="${'$' + #numbers.formatDecimal(subTotal, 1, 2, 'POINT')}">$199.00</span></strong>
            </div>
            <div class="checkout-footer">
                <form>
                    <a class="button button-secondary icon-left" href="/cart"><i class="material-icons">chevron_left</i>Back to Cart</a>
     				<a class="button" href="javascript:;" onclick="document.getElementById('couponForm').submit();">Continue</a>
                </form>
            </div>
        </section>
    </body>
</html>
