<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout :: head('Error')" lang="en"></head>
	<body>
		<header th:replace="layout :: header('Error')"></header>
	    <section class="cart">
            <h1>Error</h1>
			<!--/* If there is no exception but simple redirect, we'll
			       print this simple message
			*/-->
            <strong th:if="${exception == null}">
				This is error page. How to get model attributes here: no idea.
			</strong>
			<!--/* If there is exception, then we print here exception
			       message. Usage: Task-6: product not found
			*/-->
			<strong th:if="${exception != null}"
					th:text="${exception.message}">
				This is error page. How to get model attributes here: no idea.
			</strong>
		</section>
	</body>
</html>