<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout :: head('Error')" lang="en"></head>
	<body>
		<header th:replace="layout :: header('Error')"></header>
	    <section class="cart">
            <h1>Error</h1>
            <strong th:if="${errorMessage == null}">
				This is error page. How to get model attributes here: no idea.
			</strong>
			<strong th:if="${errorMessage != null}"
					th:text="${errorMessage}">
				This is error page. How to get model attributes here: no idea.
			</strong>
		</section>
	</body>
</html>