<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="head(page_title)" lang="en">
	    <meta charset="UTF-8" />
	    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <!--/* Title */-->
	    <title th:text="'CartShop ' + ${page_title}">
			CartShop | Page Title
        </title>
        <!--/* Fonts */-->
	    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Condensed:400,700'
              rel='stylesheet'
              type='text/css'/>
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet"/>
        <!--/* javascript CDN dependencies */-->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js">
        </script>
		<!--/* local javascript */-->
	    <script th:src="@{/js/site.js}"></script>
        <!--/* CSS files */-->
	    <link rel="stylesheet"
              type="text/css"
              th:href="@{/css/normalize.css}"/>
	    <link rel="stylesheet"
              type="text/css"
              th:href="@{/css/site.css}"/>
        <!--/* icons on the browser tab */-->
        <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
        <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
	</head>
	<body>
        <!--/* layout :: header fragment with argument. Displayed on top
               of the page. Argument is used in Page Title
        */-->
		<header th:fragment="header(page_title)">
			<!--/* Link to home page */-->
	        <a th:text="'CartShop : ' + ${page_title}" class="logo"
			   th:href="@{/product/}">
				CartShop : Page Title
			</a>
	        <nav>
	            <ul>
					<!--/* Link to about page */-->
	                <li>
						<a th:href="@{/product/about}">About</a>
					</li>
					<!--/* Link to FAQ page: leads to nowhere */-->
	                <li>
						<a href="#">FAQ</a>
					</li>
					<!--/* Link to cart */-->
	                <li><a class="button icon-right"
						   th:href="@{/cart}">
							View Cart
							<i class="material-icons">shopping_cart</i>
						</a>
					</li>
	            </ul>
	        </nav>
	    </header>
        <!--/* Flash message on top of the page, if upon redirect flash
               attribute with flash will be there, this div will be active
        */-->
        <div class="pagination flash"
             th:fragment="flash"
             th:if="${flash != null}"
             th:classappend="${#strings.toLowerCase(flash.status)}">
            <!--/* Flash message body */-->
            <p th:text="${flash.message}">
                Flash Message Body
            </p>
        </div>
	</body>
</html>